* {
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

.brand-title {
    margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  user-select: none;
  .brand {
    color: var(--color);
    text-decoration: none;
  }
}

.rdg.rdg,
:root {
  font-family: sans-serif;
  color-scheme: dark;
  --border-color : #403c33;
  --hr-border-color: #4a453d;
  --background-color: #393532;
  --background-color2: #221f1c;
  --color: #c9bda4;
  --input-border-color: #423d36;
  --input-background-color: #272422;
  --button-active-color: #ffffff;
  --button-inactive-color: #dedede;
  --button-background-color: #a39884;
  --button-border-color: #908674;
  --rdg-background-color: #221f1c;
  --rdg-border-color: transparent;
  --rdg-selection-color: transparent;
  --rdg-color: #c8bca2;
  --rdg-row-hover-background-color: #1b1916;
  --rdg-row-selected-background-color: #5a534a;
  --rdg-row-selected-hover-background-color: #48423b;
  --rdg-header-background-color: #a19681;
  --rdg-header-border-color: #8e8572;
  --rdg-header-border-color: #8e8572;
  --rdg-header-color: #393532;

  --error-color: #ae7575;
}

html {
  color: var(--color);
  background-color: var(--background-color);
}

.rdg-header-row {
  color: var(--rdg-header-color);
}

label {
  width: max-content;
}

input,
select,
fieldset {
  border: 1px solid var(--input-border-color);
}

input,
select {
  margin-left: 0.5em;
  color: var(--color);
  background-color: var(--input-background-color);
}

input[type="text"],
input[type="password"] {
  padding: 2px 8px;
  min-height: 24px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
  margin-left: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

hr {
  width: calc(100% - 16px);
  border: 1px solid var(--hr-border-color);
}

html,
body,
#root {
  min-height: 100vh;
}

.link-button,
button {
  border: 1px solid var(--button-border-color);
  color: var(--button-inactive-color);
  background-color: var(--button-background-color);
  height: 24px;
  text-decoration: none;
  line-height: 1;
  padding: 1px 6px;
  display: grid;
  place-items: center;
  cursor: default;
}
.link-button:active,
.link-button.active,
button:active,
button.active {
    color: var(--button-active-color);
}

.disabled {
  opacity: 0.4;
}

.modal-container {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;

    background-color: #00000066;
}

.modal {
    padding: 8px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}
.right-align > * {
  margin-left: auto;
}

form {
    .error {
        color: var(--error-color);
        margin-left: 0;
    }
}

.caret {
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  transform: rotate(-45deg);
}

.caret.active {
  transform: rotate(45deg);
}

nav {
    display: flex;
    padding-top: 4px;
    place-items: center;
  margin: 0 1em;
}
