.tabs-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 0.25em;

  .tab {
    margin-right: 1px;
  }

  .tab:not(:disabled):active,
  .tab:not(:disabled).active {
    height: 28px;
  }

  .search {
    height: 26px;
    margin-left: auto;
    padding: 0 0.5em;
    width: 33%;
    min-width: 150px;
  }
}

